fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-jose==3.3.0
passlib==1.7.4
bcrypt==3.2.2
python-multipart==0.0.6
alembic==1.12.1
psycopg2-binary>=2.9.0
geopy
web3
eth-account==0.10.0
eth-typing==4.0.0
eth-utils==2.3.1
email-validator
requests
numpy
aiohttp
python create_iot_tables.py